#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 8px 0;
  font-size: 16px;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

#supportHero a:hover {
  text-decoration: underline;
  color: #dce9f9;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* input  subtle glow */
#supportHero input:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
